@model List<ResourceScheduleModel>

@{
    ViewData["Title"] = "DoctorSchedule";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }
</script>

<div id="popupMessage" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: black; padding: 30px; border: 10px solid white; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 20px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<div class="row" style="margin-top:70px">
    <div class="col-md-12 col-lg-2 ">
    </div>

    <div class="col-md-12 col-lg-8 ">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">Doctor Schedule</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("SaveSlots", "ClinicAdministration", FormMethod.Post))
{


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*  <div class="form-group">
                <label for="StaffID" class="control-label">StaffID</label>
                <input type="text" class="form-control" id="StaffID" name="StaffID" value="@ViewBag.StaffID" />
            </div>
            <div class="form-group">
                <label for="FacilityID" class="control-label">FacilityID</label>
                <input type="text" class="form-control" id="FacilityID" name="FacilityID" value="@ViewBag.FacilityID" />
            </div> *@
    <br />
    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">



                    <div class="form-floating form-floating-outline mb-4">
                        @{
                            var facilityid = ((IEnumerable<ClinicAdminModel>)ViewData["faid"])
                            .Select(m => new SelectListItem
                {
                    Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.FacilityID} - {m.ClinicName}"
                });
                        }

                        @Html.DropDownList("FacilityID", facilityid, "Select Facility ID", new { @class = "form-control", @required = "required" })
                        <label for="FacilityID" class="control-label">Facility ID</label>
                        <span for="FacilityID" class="text-danger"></span>
                    </div>


                    <div class="form-floating form-floating-outline mb-4">
                        @{
                            var condocotorid = ((IEnumerable<StaffAdminModel>)ViewData["condocid"])
                            .Select(m => new SelectListItem
                {
                    Value = m.StrStaffID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.StrStaffID} - {m.StrFullName}"
                });
                        }

                        @Html.DropDownList("StaffID", condocotorid, "Select Doctor ID", new { @class = "form-control", @required = "required" })
                        <label for="ConsultDoctorID" class="control-label">Doctor ID</label>
                        <span for="ConsultDoctorID" class="text-danger"></span>
                    </div>

                    <div class="form-floating form-floating-outline mb-4">

                        <input type="text" class="form-control" id="Duration" name="Duration" placeholder="Duration" value="@ViewBag.Duration" pattern="\d+" title="Please enter a number for the duration (Example:15)" />
                        <label for="Duration" class="control-label">Duration</label>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">

                        <input type="date" class="form-control" id="FromDate" name="FromDate" value="@ViewBag.FromDate" required />
                        <label for="FromDate" class="control-label">From Date</label>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">

                        <input type="date" class="form-control" id="ToDate" name="ToDate" value="@ViewBag.ToDate" required />
                        <label for="ToDate" class="control-label">To Date</label>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-lg-2">
            </div>
        </div>
    </div>

    <br />
    <div class="form-group">
        <center>
            <button type="submit" value="Add Slot" name="action" class="btn btn-primary">Add Slot</button>
            <button type="submit" value="Get Slots" name="action" class="btn btn-primary">Get Slots</button>


            <button type="submit" name="buttonType" asp-action="DoctorSchedule" value="Holiday" class="btn btn-primary">Holiday</button>
            <button type="submit" name="buttonType" asp-action="DoctorSchedule" value="Blocker" class="btn btn-primary">Blocker</button>
        </center>
    </div>
    <br/>
    @if (ViewBag.Slots != null)
    {
        <div id="slotsTable">

            <div class="row">
                <div class="col-md-12 col-lg-1">
                </div>
                <div class="col-md-12 col-lg-10">
                    <div class="card">
                        <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">


                            <h2 style="color:#8c62c9;">Slots</h2>


                            <table id="SlotTable" class="table">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>From Time</th>
                                        <th>To Time</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        var slots = ViewBag.Slots as List<ResourceScheduleModel>;
                                    }

                                    @if (slots != null)
                                    {
                                        for (int i = 0; i < slots.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="radio" name="selectedSlots" value="@slots[i].Viewslot" />
                                                    <input type="hidden" name="SlotsID" value="@slots[i].Viewslot" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="FromTime_@slots[i].Viewslot" value="@slots[i].FromTime" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="ToTime_@slots[i].Viewslot" value="@slots[i].ToTime" />
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>


                            <br />

                            <center>
                            <button type="submit" value="Delete Selected" name="action" class="btn btn-primary">Delete Selected</button>
                            <button type="submit" value="Save" name="action" class="btn btn-primary">Save</button>
                            </center>



                        </div>

                    </div>
                </div>

                <div class="col-md-12 col-lg-1">
                </div>
            </div>
            <br />
        </div>
            }
            }



            @if (ViewBag.Message != null)
            {
                <script>
                    handleMessages("@ViewBag.Message");
                </script>
            }

            @if (ViewBag.Time != null)
            {
                <script>
                    handleMessages("@ViewBag.Time");
                </script>
            }
            @if (ViewBag.GetSlot != null)
            {
                <script>
                    handleMessages("@ViewBag.GetSlot");
                </script>
            }

            @if (ViewBag.SelectSlot != null)
            {
                <script>
                    handleMessages("@ViewBag.SelectSlot");
                </script>
            }
            @if (ViewBag.Deleteslot != null)
            {
                <script>
                    handleMessages("@ViewBag.Deleteslot");
                </script>
            }

            @if (ViewBag.DeleteMessage != null)
            {
                <script>
                    handleMessages("@ViewBag.DeleteMessage");
                </script>
            }




            </center>



