@model OpCheckingViewModel

@{
    ViewData["Title"] = "OpChecking";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<form asp-action="OpChecking" asp-controller="FrontDesk" style="height:100%">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



<div class="row" style="margin-top:70px">
    <div class="col-md-12 col-lg-2 ">
    </div>

    <div class="col-md-12 col-lg-7 ">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">OpChecking</h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:8%">
        </div>

        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Facid = ((IEnumerable<PatientRegistrationModel>)ViewData["patid"])
                                .Select(m => new SelectListItem
            {
                Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.PatientID} - {m.FullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.PatientId, Facid, "Select Patient ID", new { @class = "form-control", required = "required" })
                            <label asp-for="PatientId" class="control-label"></label>
                            <span asp-validation-for="PatientId" class="text-danger"></span>
                        </div>


                            @* <div class="form-floating form-floating-outline mb-4">
                                <input type="text" id="PatientID" name="PatientID"  class="form-control" placeholder="Patient ID" required />
                                <label for="PatientID" class="control-label">PatientID</label>                                                      

                            </div> *@
                        
                        <div class="form-floating form-floating-outline mb-4">
                                <input type="date" id="CurrentDate" name="CurrentDate" class="form-control" placeholder="CurrentDate" required />

                                <label for="CurrentDate" class="control-label">CurrentDate</label>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="row" style="height:8%">
            </div>
            <div class="form-group">
                <center>

                    <button type="submit" value="GetReport" asp-action="ViewResult" class="btn btn-primary">Get Report</button>

                  @*   <button type="submit" style="width:180px" name="buttonType" value="Get" class="btn btn-primary">Get</button>
 *@
                </center>
            </div>

            <br />


             @if (Model != null)
                        {

                            <div class="table-responsive text-nowrap">
                                <table class="table table-bordered">
     
            <thead>
                <tr>
                    <th>
                        PatientName
                    </th>
                    <th>
                        DoctorName
                    </th>
                    <th>
                        AppoinmentDate
                    </th>
                    <th>
                        AppoinmentTime
                    </th>
               </tr>
            </thead>
            <tbody>


                  @foreach (var item in Model.Results)
                    {
                        <tr>
                            <td>@item.PatientName</td>
                            <td>@item.DoctorName</td>
                            <td>@item.AppoinmentDate</td>
                            <td>@item.AppoinmentTime</td>
                        </tr>
                    }
                
            </tbody>
        </table>
        </div>
        <br />
    
            <div class="form-group">
                <center>
                    <button type="submit" name="buttonType" value="checkIn" class="btn btn-primary">checkIn</button>
                     <button type="submit" name="buttonType" value="checkOut" class="btn btn-primary">checkOut</button>
                    </center>                                    
                     </div>
                       
                 }


                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-success">


                                @ViewBag.Message
                            </div>

                        }

                        @if (ViewBag.ExistingValue != null)
                        {
                            <div class="alert alert-success">

                                @ViewBag.ExistingValue
                            </div>

                        }
                        @if (ViewBag.CancelMessage != null)
                        {
                            <div class="alert alert-success">


                                @ViewBag.CancelMessage
                            </div>




                        }


            <div class="col-md-12 col-lg-3">
            </div>
        </div>
    </div>
</form>
