@model StaffAttendanceViewModel

@{
    ViewData["Title"] = "StaffAttendance";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}




<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">Staff Attendance</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>


    <form asp-action="StaffAttendance" style="height:100%">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">
            <div class="col-md-12 col-lg-1">
            </div>

            <div class="col-md-12 col-lg-5">
                <div class="card">
                    <div class="card-body">


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Facid = ((IEnumerable<StaffAdminModel>)ViewData["staffid"])
                                .Select(m => new SelectListItem
            {
                Value = m.StrStaffID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.StrStaffID} - {m.StrFullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.StaffID, Facid, "Select Staff ID", new { @class = "form-control", required = "required" })
                            <label asp-for="StaffID" class="control-label"></label>
                            <span asp-validation-for="StaffID" class="text-danger"></span>
                        </div>

                        <button type="submit" asp-action="Getstaffattendance" value="Get" class="btn btn-primary">Get</button>
 
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Date" type="date" class="form-control" placeholder="Date" />
                            <label asp-for="Date" class="control-label">Date</label>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">Office:</label>

                       
                        <div class="form-check form-check-inline">
                            <input asp-for="Office" class="form-check-input" type="radio" value="1" id="INRadio"/>
                            <label class="form-check-label" for="INRadio">IN</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="Office" class="form-check-input" type="radio" value="0" id="OUTRadio"/>
                            <label class="form-check-label" for="OUTRadio">OUT</label>
                        </div>
                        <span asp-validation-for="Office" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="CheckInTime" type="time" class="form-control" placeholder="Check In Time"  />
                            <label asp-for="CheckInTime" class="control-label">Check In Time</label>

                            <span asp-validation-for="CheckInTime" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="CheckOuTtime" type="time" class="form-control" placeholder="Check OuT time"  />
                            <label asp-for="CheckOuTtime" class="control-label">Check OuT time</label>

                            <span asp-validation-for="CheckOuTtime" class="text-danger"></span>
                        </div>

                        <button type="submit"  name="buttonType" value="Save" class="btn btn-primary">Save</button>

                        @* <div class="form-group">
                        <label asp-for="lastUpdatedDate" class="control-label"></label>
                        <input asp-for="lastUpdatedDate" class="form-control" />
                        <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="lastUpdatedUser" class="control-label"></label>
                        <input asp-for="lastUpdatedUser" class="form-control" />
                        <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="lastUpdatedMachine" class="control-label"></label>
                        <input asp-for="lastUpdatedMachine" class="form-control" />
                        <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
                        </div> *@
                        <div class="form-floating form-floating-outline mb-4">
                            <center>
                               
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">


                                        @ViewBag.Message
                                    </div>

                                }
                                </center>
                        </div>
                    

                        <div class="col-md-12 col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="form-floating form-floating-outline mb-4">
            </div>
        </div>
    
<table class="table">
    <thead>
        <tr>

            <th>
                Staff ID
            </th>
            <th>
                Date
            </th>
            <th>
                Office
            </th>
            <th>
                Check in time
            </th>
            <th>
                Check out time
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @for (int i = 0; i < Model.StfAttedance.Count; i++)
            {
                <tr>
                    <td><input type="text" asp-for="@Model.StfAttedance[i].StaffID" readonly />

                    <td><input type="text" asp-for="@Model.StfAttedance[i].Date" /></td>
                    <td><input type="text" asp-for="@Model.StfAttedance[i].Office" readonly /></td>
                    <td><input type="text" asp-for="@Model.StfAttedance[i].CheckInTime" readonly /></td>
                    <td><input type="text" asp-for="@Model.StfAttedance[i].CheckOuTtime" readonly /></td>
                    @*  <td>@Model.SHviewInpatientObs[i].Unit</td>
            <td>@Model.SHviewInpatientObs[i].Range</td>
            <td>@Model.SHviewInpatientObs[i].Frequency</td> *@
                </tr>
            }
        }
    </tbody>
</table>

    </form>

</div>

