@model List<PatientEPrescriptionPrintModel>

@{
    ViewData["Title"] = "PatientEPrescriptionPrint";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-12">
    <div class="card-body pt-2 mt-1">

        <h2 class="text-primary mb-1">PatientEPrescriptionPrint</h2>


    </div>
@using (Html.BeginForm("PrescriptionPrint", "PatientPrescription", FormMethod.Post))
    {

        <form asp-action="PatientEPrescriptionPrint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row gy-4">

                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" id="PatientID" name="PatientID" class="form-control" placeholder="PatientID" />
                    <label for="PatientID" class="control-label">Patient ID</label>
                    
                </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" id="CaseVisitID" name="CaseVisitID" class="form-control" placeholder="CaseVisitID" />
                    <label for="CaseVisitID" class="control-label">CaseVisit ID</label>
                    
                </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" id="OrderID" name="OrderID" class="form-control" placeholder="OrderID" />
                    <label for="OrderID" class="control-label">Order ID</label>
                   
                </div>
                <br />

                <div class="form-group">
                    <center>
                    <button type="submit" value="Get" class="btn btn-primary">Get</button>
                                </center>
                </div>
                </div>
                </div>
                </div>
                </div>
                
         
            
      
    <table class="table">
        <thead>
            <tr>
                <th>
                    PatientName
                </th>
                <th>
                   Patient ID
                </th>
                <th>
                   Casevisit ID
                </th>
                <th>
                    Order ID
                </th>
                <th>
                    Medication Name
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Unit Category
                </th>
                <th>
                    Frequency
                </th>
                <th>
                    Frequency Unit
                </th>
                <th>
                   Duration
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Instruction
                </th>
                <th>
                    Doctor Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PatientName</td>
                        <td>@item.PatientID</td>
                        <td>@item.CaseVisitID</td>
                        <td>@item.OrderID</td>
                        <td>@item.MedicactionName</td>
                        <td>@item.Unit</td>
                        <td>@item.UnitCategory</td>
                        <td>@item.Frequency</td>
                        <td>@item.FrequencyUnit</td>
                        <td>@item.Duration</td>
                        <td>@item.Quantity</td>
                        <td>@item.EndDate</td>
                        <td>@item.Instructions</td>
                        <td>@item.DoctorName</td>

                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model != null)
    {
        <div class="form-group">
            <input type="submit" value="Print" class="btn btn-primary" />
        </div>
       
    }
        </form>
}
        
