@model OTConfirmationModel

@{
    ViewData["Title"] = "OTConfirmation";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">

        <h2 class="text-primary mb-1">OTConfirmation</h2>

        <hr />
    </div>
@using (Html.BeginForm("GetviewOT","OTManagement",FormMethod.Post))
{
    
   
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row gy-4">

            <div class="col-md-12 col-lg-1"></div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var getscheduleid = ((IEnumerable<OTSchedulingModel>)ViewData["getscheduleid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.OtScheduleID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.OtScheduleID}"
                });
                            }

                            @Html.DropDownListFor(model => model.OtScheduleID, getscheduleid, "Select OtSchedule ID", new { @class = "form-control", required = "required" })
                            <label asp-for="OtScheduleID" class="control-label">OtSchedule ID</label>
                            <span asp-validation-for="OtScheduleID" class="text-danger"></span>
                        </div>


                            <center>
                            <button type="submit" value="Get"  class="btn btn-primary">Get</button>
                            </center>
                        </div>
               @*  <div class="form-group">
                    <label asp-for="lastupdatedDate" class="control-label"></label>
                    <input asp-for="lastupdatedDate" class="form-control" />
                    <span asp-validation-for="lastupdatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lastUpdatedUser" class="control-label"></label>
                    <input asp-for="lastUpdatedUser" class="form-control" />
                    <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lastUpdatedMachine" class="control-label"></label>
                    <input asp-for="lastUpdatedMachine" class="form-control" />
                    <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
                </div> *@

         </div>
         </div>
         </div>
         <div>
        </div>
    


    <table class="table">
        <thead>
            <tr>

                <th>
                    OT ScheduleID
                </th>
                <th>
                    Surgery Name
                </th>
                <th>
                    Team Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Table Name
                </th>
                <th>
                    Room Name
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.OtviewModel)
                {
                    <tr>
                        <td>@item.OtscheduleID</td>
                        <td>@item.SurgeryName</td>
                        <td>@item.TeamName</td>
                        <td>@item.Date</td>
                        <td>@item.Duration</td>
                        <td>@item.TableName</td>
                        <td>@item.RoomName</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (Model != null)
    {
        @if (Model.OtviewModel.Count != 0)
        {

                <div class="form-floating form-floating-outline mb-4">
                    
                <input asp-for="ConfirmBy" class="form-control" placeholder="Confirm By" />
                <label asp-for="ConfirmBy" class="control-label">Confirm By</label>
                <span asp-validation-for="ConfirmBy" class="text-danger"></span>
            </div>


                <div class="form-floating form-floating-outline mb-4">

                    <input asp-for="ConfirmDate" class="form-control" type="date" />
                <label asp-for="ConfirmDate" class="control-label">Confirm Date</label>
                <span asp-validation-for="ConfirmDate" class="text-danger"></span>
            </div>
            
            <button type="submit" name="buttonType" value="Confirm" class="btn btn-primary">Confirm</button>
            <button type="submit" name="buttonType" value="cancel" class="btn btn-success">cancel</button>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }

                @if (ViewBag.CancelMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.CancelMessage
                    </div>
                }
            

            @* <div class="form-group">
            <input type="submit" name="buttonType" value="Confirm" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input type="submit" name="buttonType" value="Cancel" class="btn btn-primary" />
        </div> *@
        }
    }
}
