
@model List<OtScheduleViewModel>

@{
    ViewData["Title"] = "OtScheduleView";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}



    <form asp-action="GetReport" asp-controller="OTManagement" style="height:100%">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row" style="margin-top:70px">
        <div class="col-md-12 col-lg-2 ">
        </div>
        <div class="col-md-12 col-lg-7 ">
            <div class="card">
                <div class="card-body " style="background-color:#8c62c9">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">OtScheduleView</h2>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height:8%">
            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                    <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenList = ((IEnumerable<ClinicAdminModel>)ViewData["facilityid"])
                                .Select(m => new SelectListItem
            {
                Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.FacilityID} - {m.ClinicName}"
            });
                            }

                            @Html.DropDownList("facilityid", screenList, "Select Facility ID", new { @class = "form-control" })
                            <label for="FacilityID" class="control-label">Facility ID</label>
                            <span for="FacilityID" class="text-danger"></span>
                        </div>

                        <div class="form-floating form-floating-outline mb-4">
                            <input type="date" id="Date" name="Date" class="form-control" placeholder="Date"  />

                            <label for="Date" class="control-label">Date</label>
                        </div>

                                           </div>

                    </div>
                </div>
            </div>

            <div class="row" style="height:8%">
            </div>
            <div class="form-group">
                <center>
                    <button type="submit" asp-action="GetReport" value="GetReport" class="btn btn-primary">GetReport</button>

                </center>
            </div>
            <div class="col-md-12 col-lg-3">
            </div>
        </div>
    </div>
            <br />              
                    @if (Model != null)
                                {
        <div class="row" style="margin-top:70px">
           
                  
                        <div class="card">
                <div class="table-responsive text-nowrap" style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">
                   
                        <table class="table table-bordered">


                            <thead>
                                <tr  >
                                <th style="padding:5px">
                                        otSchedulinId
                                    </th>
                                <th style="padding:5px">
                                        patientName
                                    </th>
                                <th style="padding:5px">
                                        scheduleDateTime
                                    </th >
                                <th style="padding:5px">
                                        duration
                                    </th>
                                <th style="padding:5px">
                                        operationType
                                    </th>
                                <th style="padding:5px">
                                        IncharegeDeparment
                                    </th>
                                <th style="padding:5px">
                                        isConformed
                                    </th>
                                <th style="padding:5px">
                                        teamName
                                    </th>
                                   
                                  
                                </tr>
                            </thead>
                            
                            <tbody>


                                
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.OtSchedulingId</td>
                                            <td>@item.PatientName</td>
                                            <td>@item.ScheduleDateTime</td>
                                            <td>@item.Duration</td>
                                            <td>@item.OperationType</td>
                                            <td>@item.IncharegeDeparment1</td>
                                            <td>@item.IsConformed</td>
                                            <td>@item.TeamName</td>

                                        </tr>
                                    }
                                
                            </tbody>
                        </table>

                            

                            </div>
                        </div>
                    </div>
           
               

            }
           
   


</form>

