@model OTSummaryViewModel

@{
    ViewData["Title"] = "OTSummary";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">

        <h2 class="text-primary mb-1">OTSummary</h2>

        <hr />
    </div>
@using (Html.BeginForm("OtsummaryView","OTManagement", FormMethod.Post))
{
   

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row gy-4">

                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="OtscheduleID" class="form-control" placeholder="OtscheduleID" />
                <label asp-for="OtscheduleID" class="control-label"></label>
                
                <br />
                            <div>
                                <center>
                                    <button type="submit" value="Get" class="btn btn-primary">Get</button>
                                    <button type="submit" name="buttonType" value="Save" class="btn btn-primary">Save</button>
                                    <button type="submit" name="buttonType" value="Print" class="btn btn-success">Print</button>
                                </center>
                               
                            </div>
                        
                        </div>
            @*  <div class="form-group">
                <label asp-for="QuestionID" class="control-label"></label>
                <input asp-for="QuestionID" class="form-control" />
                <span asp-validation-for="QuestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
           </div>
           </div>
          
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>

                <th>
                    Question 
                </th>
                <th>
                    Answer
                </th>
               
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                    @for (int i = 0; i < Model.SHotsumm.Count; i++)
                    {
                        <tr>
                            <td>@Model.SHotsumm[i].Question</td>
                            
                            <td>
                            <input type="hidden" asp-for="@Model.SHotsumm[i].QuestionID" />
                                <textarea asp-for="SHotsumm[i].Answer" class="form-control" rows="3"></textarea>
                            </td>
                        </tr>
                    }
                

                @* @foreach (var item in Model.SHotsumm)
                {
                    <tr>
                        <td>@item.Question</td>
                        <td>@item.Answer</td>
                    </tr>
                } *@
            }
        </tbody>
    </table>

    <button type="submit" name="buttonType" value="Save" class="btn btn-primary">Save</button>
    <button type="submit" name="buttonType" value="Print" class="btn btn-success">Print</button>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
}