@model HealthCare.Models.InPatientTransferUpdateModel

@{
    ViewData["Title"] = "InPatientTransfer";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>InPatientTransfer</h1>

<h4>InPatientTransferUpdateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InPatientTransfer" asp-controller="InPatientModules" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseId" class="control-label"></label>
                <input asp-for="CaseId" class="form-control" />
                <span asp-validation-for="CaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BedId" class="control-label"></label>
                <input asp-for="BedId" class="form-control" />
                <span asp-validation-for="BedId" class="text-danger"></span>
            </div>
            @if (@Model != null)
            {
                <div class="form-group">
                    <label asp-for="RoomTypeFrom" class="control-label"></label>
                <input asp-for="RoomTypeFrom" value="@Model.RoomTypeFrom" class="form-control" />
                <span asp-validation-for="RoomTypeFrom" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="RoomTypeTo" class="control-label"></label>
                    <input asp-for="RoomTypeTo" value="@Model.RoomTypeTo" `class="form-control" />
                    <span asp-validation-for="RoomTypeTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BedIdFrom" class="control-label"></label>
                    <input asp-for="BedIdFrom" value="@Model.BedIdFrom" class="form-control" />
                    <span asp-validation-for="BedIdFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BedIdTo" class="control-label"></label>
                    <input asp-for="BedIdTo" value="@Model.BedIdTo" class="form-control" />
                    <span asp-validation-for="BedIdTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransferNotes" class="control-label"></label>
                    <input asp-for="TransferNotes" value="@Model.TransferNotes" class="form-control" />
                    <span asp-validation-for="TransferNotes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DocId" class="control-label"></label>
                    <input asp-for="DocId" value="@Model.DocId" class="form-control" />
                    <span asp-validation-for="DocId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChangeDate" class="control-label"></label>
                    <input asp-for="ChangeDate" value="@Model.ChangeDate" class="form-control" />
                    <span asp-validation-for="ChangeDate" class="text-danger"></span>
                </div>
               

            }
            
            <div class="form-group">
                <input type="submit"  name="buttonType" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" name="buttonType" value="get" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
