@model List<RadiologyViewResultModel>

@{
    ViewData["Title"] = "PrintRadiologyResults";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}
<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">PrintRadiologyResults</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>

@using (Html.BeginForm("GetRadio", "LabRad", FormMethod.Post))
{

   <div class="row gy-4">
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenList = ((IEnumerable<PatientRegistrationModel>)ViewData["patid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.PatientID} - {m.FullName}"
                });
                            }

                            @Html.DropDownList( "patid" , screenList, "Select Patient ID", new { @class = "form-control" })
                            <label for="PatientID" class="control-label">PatientID</label>
                            <span for="PatientID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenlist = ((IEnumerable<ClinicAdminModel>)ViewData["facid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.FacilityID} - {m.ClinicName}"
                });
                            }

                            @Html.DropDownList("facid", screenlist, "Select Facility ID", new { @class = "form-control" })
                            <label for="FacilityID" class="control-label">FacilityID</label>
                            <span for="FacilityID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Screenlist = ((IEnumerable<PatientEPrescriptionModel>)ViewData["visitcaseid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.CaseVisitID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.CaseVisitID}"
                });
                            }

                            @Html.DropDownList("visitcaseid", Screenlist, "Select CaseVisit ID", new { @class = "form-control" })
                            <label for="CaseVisitID" class="control-label">CaseVisitID</label>
                            <span for="CaseVisitID" class="text-danger"></span>
                        </div>

            <br />
            <center>
            <div class="form-group">
                                <button type="submit" name="buttonType" value="select" class="btn btn-primary">Submit</button>
                        </center>
            </div>
        </div>
    </div>
    </div>
    
    
    
}
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Radio ID
            </th>
            <th>
                Clinic ID
            </th>
            <th>
                RadioName
            </th>
            <th>
                Screening Date
            </th>
            <th>
                Result
            </th>
            <th>
                Referral Doctor Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PatentName</td>
                    <td>@item.RadioID</td>
                    <td>@item.FacilityID</td>
                    <td>@item.RadioName</td>
                    <td>@item.ScreeningDate</td>
                    <td>@item.Result</td>
                    <td>@item.ReferralDoctorName</td>
                </tr>
            }
        }
    </tbody>
</table>

