@model List<RadiologyViewResultModel>

@{
    ViewData["Title"] = "PrintRadiologyResults";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}
<h1>RadiologyResult</h1>

@using (Html.BeginForm("GetRadio", "LabRad", FormMethod.Post))
{

    <hr />
    <div class="row">
        <div class="col-md-4">
             <div class="form-group">
                <label for="PatientID" class="control-label">PatientID</label>
                <input for="PatientID" class="form-control" />
            </div>

            <div class="form-group">
                <label for="ClinicID" class="control-label">ClinicID</label>
                <input for="ClinicID" class="form-control" />
            </div>

            <div class="form-group">
                <label for="VisitcaseID" class="control-label">VisitcaseID</label>
                <input for="VisitcaseID" class="form-control" />
            </div>


            <div class="form-group">
                <button type="submit" name="buttonType" value="select" class="btn btn-danger">Submit</button>
            </div>
        </div>
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Radio ID
            </th>
            <th>
                Clinic ID
            </th>
            <th>
                RadioName
            </th>
            <th>
                Screening Date
            </th>
            <th>
                Result
            </th>
            <th>
                Referral Doctor Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PatentName</td>
                    <td>@item.RadioID</td>
                    <td>@item.ClinicID</td>
                    <td>@item.RadioName</td>
                    <td>@item.ScreeningDate</td>
                    <td>@item.Result</td>
                    <td>@item.ReferralDoctorName</td>
                </tr>
            }
        }
    </tbody>
</table>

