@model List<PatientViewResultModel>

@{
    ViewData["Title"] = "PrintTestResults";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">PrintTestResults</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>

@using (Html.BeginForm("ViewResult", "LabRad", FormMethod.Post))
{
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row gy-4">
                <div class="col-md-12 col-lg-1">
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenList = ((IEnumerable<PatientRegistrationModel>)ViewData["Patientid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.PatientID} - {m.FullName}"
                });
                            }

                            @Html.DropDownList("patid", screenList, "Select Patient ID", new { @class = "form-control" })
                            <label for="PatientID" class="control-label">PatientID</label>
                            <span for="PatientID" class="text-danger"></span>
                        </div>

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenlist = ((IEnumerable<ClinicAdminModel>)ViewData["Facilityid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.FacilityID} - {m.ClinicName}"
                });
                            }

                            @Html.DropDownList("facid", screenlist, "Select Facility ID", new { @class = "form-control" })
                            <label for="FacilityID" class="control-label">FacilityID</label>
                            <span for="FacilityID" class="text-danger"></span>
                        </div>

                            <div class="form-floating form-floating-outline mb-4">
                                @{
                                var Screenlist = ((IEnumerable<PatientTestModel>)ViewData["visitid"])
                                    .Select(m => new SelectListItem
                {
                    Value = m.VisitcaseID1.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.VisitcaseID1}"
                });
                                }

                                @Html.DropDownList("visitcaseid", Screenlist, "Select Visitcase ID", new { @class = "form-control" })
                            <label for="VisitcaseID1" class="control-label">CaseVisitID</label>
                            <span for="VisitcaseID1" class="text-danger"></span>
                            </div>

                </div>
                <br />

                <div class="form-group">
                    <center>
                    <button type="submit" value="GetReport" class="btn btn-primary">GetReport</button>
                                </center>
                </div>
                </div>
                </div>
                </div>
         
        

            <br />
            

<table class="table">
    <thead>
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Test ID
            </th>
            <th>
                Test Name
            </th>
            <th>
                Result
            </th>
            <th>
                Range
            </th>
            <th>
                Test Date
            </th>
            <th>
                Doctor Name
            </th>
            <th>
                ClinicName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model !=null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PatientName</td>
                    <td>@item.TestID</td>
                    <td>@item.TestName</td>
                    <td>@item.Result</td>
                    <td>@item.Range</td>
                    <td>@item.TestDate</td>
                    <td>@item.DoctorName</td>
                    <td>@item.ClinicName</td>
                </tr>
            }            
        }
            </tbody>
            </table>
    @if (Model != null)
    {
      <div class="form-group">
        <input type="submit" value="Print" class="btn btn-primary" />
      </div>
    }
}
        


@* <h1>Test Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>Test ID</th>
            <th>Test Name</th>
            <th>Range</th>
            <th>Test Date</th>
            <th>Result</th>
            <th>Doctor Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var testResult in Model)
        {
            <tr>
                <td>@testResult.TestID</td>
                <td>@testResult.TestName</td>
                <td>@testResult.Range</td>
                <td>@testResult.TestDate</td>
                <td>@testResult.Result</td>
                <td>@testResult.DoctorName</td>
            </tr>
        }
    </tbody>
</table>
 *@
@* @if (ViewBag.Result!=null)
{
    <div class="card">
        <h5 class="card-header">Patient Search Result</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Test ID</th>
                        <th>Test Name</th>
                        <th>Test Date</th>
                        <th>Result</th>
                        <th>Range</th>
                        <th>Doctor Name</th>
                       
                        
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach (var item in ViewBag.Result)
                        {
                        <tr>
                            <td><input type="checkbox" name="selectedPatients" value="@item.PatientID" /></td>
                            <td>@item.TestID</td>
                            <td>@item.TestName</td>
                            <td>@item.TestDate</td>
                            <td>@item.Result</td>
                            <td>@item.Range</td>
                            <td>@item.DoctorName</td>
                           
                        </tr>
                        }
                   
                </tbody>
            </table>
        </div>
    </div>
} *@




