@model HealthCare.Models.PatientRadiolodyModel

@{
    ViewData["Title"] = "RadiologyCreation";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">RadiologyCreation</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>
        <form asp-action="RadiologyCreation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">
            <div class="col-md-12 col-lg-1">
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Radioid = ((IEnumerable<RadiologyMasterModel>)ViewData["radioid"])
                                .Select(m => new SelectListItem
            {
                Value = m.RadioID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.RadioID} - {m.RadioName}"
            });
                            }

                            @Html.DropDownListFor(model => model.RadioID, Radioid, "Select Radio ID", new { @class = "form-control", required = "required" })
                            <label asp-for="RadioID" class="control-label"></label>
                            <span asp-validation-for="RadioID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Facilityid = ((IEnumerable<ClinicAdminModel>)ViewData["facilityid"])
                                .Select(m => new SelectListItem
            {
                Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.FacilityID} - {m.ClinicName}"
            });
                            }

                            @Html.DropDownListFor(model => model.FacilityID, Facilityid, "Select Facility ID", new { @class = "form-control", required = "required" })
                            <label asp-for="FacilityID" class="control-label"></label>
                            <span asp-validation-for="FacilityID" class="text-danger"></span>
                        </div>



                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Patientid = ((IEnumerable<PatientRegistrationModel>)ViewData["patientid"])
                                .Select(m => new SelectListItem
            {
                Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.PatientID} - {m.FullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.PatientID, Patientid, "Select Patient ID", new { @class = "form-control", required = "required" })
                            <label asp-for="PatientID" class="control-label"></label>
                            <span asp-validation-for="PatientID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="VisitcaseID" class="form-control" placeholder="VisitcaseID" required />
                <label asp-for="VisitcaseID" class="control-label"></label>
               
                <span asp-validation-for="VisitcaseID" class="text-danger"></span>
            </div>

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Refdocid = ((IEnumerable<StaffAdminModel>)ViewData["refdocid"])
                                .Select(m => new SelectListItem
            {
                Value = m.StrStaffID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.StrStaffID} - {m.StrFullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.ReferralDoctorID, Refdocid, "Select Referral Doctor ID", new { @class = "form-control" })
                            <label asp-for="ReferralDoctorID" class="control-label"></label>
                            <span asp-validation-for="ReferralDoctorID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ReferralDoctorName" class="form-control" placeholder="ReferralDoctorName" />
                <label asp-for="ReferralDoctorName" class="control-label"></label>
                
                <span asp-validation-for="ReferralDoctorName" class="text-danger"></span>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                       
            <div class="form-group">
                           
                <label asp-for="ScreeningDate" class="control-label"></label>
                            <input asp-for="ScreeningDate" class="form-control" type="date"  required />
                <span asp-validation-for="ScreeningDate" class="text-danger"></span>
            </div><br />
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Result" class="form-control" placeholder="Result" />
                <label asp-for="Result" class="control-label"></label>
               
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ScreeningCompleted" class="form-control" placeholder="ScreeningCompleted" />
                <label asp-for="ScreeningCompleted" class="control-label"></label>
                
                <span asp-validation-for="ScreeningCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                           
                <label asp-for="ScreeningCompletedDate" class="control-label"></label>
                            <input asp-for="ScreeningCompletedDate" class="form-control" type="date"  />
                <span asp-validation-for="ScreeningCompletedDate" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <center>
                <button type="submit" value="Create" asp-action="GetPatientRadio" class="btn btn-primary">Save</button>
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">


                                        @ViewBag.Message
                                    </div>

                                }
                </center>
            </div>
            </div>
            </div>
            </div>

            
        </form>
    </div>
</div>

