@model PatientTestModel

@{
    ViewData["Title"] = "TestCreation";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}



@using (Html.BeginForm("TestCreation", "LabRad", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

     <div class="row" style="margin-top:70px">
        <div class="col-md-12 col-lg-2 ">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-color:#8c62c9">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                                <h2 class="centered text-white" style="font-family:'Lucida Bright'">TestCreation</h2>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height:8%">
            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenList = ((IEnumerable<TestMasterModel>)ViewData["testid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.TestID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.TestID} - {m.TestName}"
                });
                            }

                            @Html.DropDownListFor(model => model.TestID, screenList, "Select Test ID", new { @class = "form-control", required = "required" })
                            <label asp-for="TestID" class="control-label"></label>
                            <span asp-validation-for="TestID" class="text-danger"></span>
                        </div>
        
            <div class="col-md-12 col-lg-12">
                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenlist = ((IEnumerable<PatientRegistrationModel>)ViewData["patid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.PatientID} - {m.FullName}"
                });
                            }

                            @Html.DropDownListFor(model => model.PatientID, screenlist, "Select Patient ID", new { @class = "form-control", required = "required" })
                            <label asp-for="PatientID" class="control-label"></label>
                            <span asp-validation-for="PatientID" class="text-danger"></span>
                        </div>
        </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Screenlist = ((IEnumerable<ClinicAdminModel>)ViewData["facid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.FacilityID} - {m.ClinicName}"
                });
                            }

                            @Html.DropDownListFor(model => model.FacilityID, Screenlist, "Select Facility ID", new { @class = "form-control", required = "required" })
                            <label asp-for="FacilityID" class="control-label"></label>
                            <span asp-validation-for="FacilityID" class="text-danger"></span>
                        </div>
                    </div>

                        </div>
                    </div>

                    </div>
                </div>
            </div>

            <div class="row" style="height:8%">
            </div>
           
            <div class="col-md-12 col-lg-2">
            </div>
        </div>
        <br/>
    <div class="form-group" style="margin-top:20px">
        <center>

            <button type="button" class="btn btn-primary">Get</button>
            @*    <button type="submit" asp-action="GetReport" value="GetReport" class="btn btn-primary">GetReport</button> *@

        </center>
    </div>
            <br /> 

                   

        <div class="row" style="height: 500px;">
            <div class="col-md-12 col-lg-1">
            </div>

                <div class="col-md-12 col-lg-5">

                <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">
                    <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="VisitcaseID1" class="form-control" placeholder="VisitcaseID" required />
                            <label asp-for="VisitcaseID1" class="control-label">VisitCaseID</label>

                            <span asp-validation-for="VisitcaseID1" class="text-danger"></span>
                        </div>
                            <div class="form-floating form-floating-outline mb-4">
                           <input asp-for="TestDateTime" class="form-control" type="datetime-local" placeholder="TestDateTime" required />
                <label asp-for="TestDateTime" class="control-label"></label>
                        
                <span asp-validation-for="TestDateTime" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TestResult" class="form-control" placeholder="TestResult"  />
                <label asp-for="TestResult" class="control-label"></label>
                          
                <span asp-validation-for="TestResult" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TsampleClt" class="form-control" placeholder="SampleCollected(Yes/No)" />
                            <label asp-for="TsampleClt" class="control-label">SampleCollected(Yes/No)</label>
                          
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TsampleCltDateTime" class="form-control" type="datetime-local" placeholder="SampleCollectDateTime" />
                            <label asp-for="TsampleCltDateTime" class="control-label">SampleCollectDateTime</label>
                          
                <span asp-validation-for="TsampleCltDateTime" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ExptRsltDateTime" class="form-control" type="datetime-local" placeholder="ExpectedResultDateTime" />
                            <label asp-for="ExptRsltDateTime" class="control-label">ExpectedResultDateTime</label>
                          
                <span asp-validation-for="ExptRsltDateTime" class="text-danger"></span>
            </div>
                    </div>
                </div>
            </div>


                <div class="col-md-12 col-lg-5">
                    <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">
                    <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ResultPublish" class="form-control" placeholder="ResultPublish(Yes/No)" />
                            <label asp-for="ResultPublish" class="control-label">ResultPublish(Yes/No)</label>
                         
                <span asp-validation-for="ResultPublish" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var refdocid = ((IEnumerable<StaffAdminModel>)ViewData["refdocid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.StrStaffID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.StrStaffID} - {m.StrFullName}"
                });
                            }

                            @Html.DropDownListFor(model => model.ReferDocID, refdocid, "Select Referral Doctor ID", new { @class = "form-control"})
                            <label asp-for="ReferDocID" class="control-label"></label>
                            <span asp-validation-for="ReferDocID" class="text-danger"></span>
                        </div>

                    
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ReferDate" class="form-control" placeholder="ReferDate" type="date" />
                <label asp-for="ReferDate" class="control-label"></label>
                           
                <span asp-validation-for="ReferDate" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ResultDate" class="form-control" placeholder="ResultDate" type="date" />
                <label asp-for="ResultDate" class="control-label"></label>
                         
                <span asp-validation-for="ResultDate" class="text-danger"></span>
            </div>
            <br />
         
                    </div>
                </div>
            <div class="col-md-12 col-lg-1">
            </div>
            <div class="form-group" style="margin-top:20px">
                <center>
                    <button type="submit" value="Create" class="btn btn-primary">Save</button>

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.Message
                        </div>
                    }
                </center>
            </div>

            </div>

       
            </div>
       

           



}



