@model PharmacyBillingTotalpriceModel

@{
    ViewData["Title"] = "PharmacyBilling";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">PharmacyBilling</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>

@using (Html.BeginForm("GetBill", "PatientBilling", FormMethod.Post))
{

   
            <form asp-action="PharmacyBilling">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row gy-4">
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="PatientID" class="form-control" placeholder="PatientID" />
                    <label asp-for="PatientID" class="control-label"></label>
                    
                </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="VisitID" class="form-control" placeholder="VisitID" />
                    <label asp-for="VisitID" class="control-label"></label>
                   
                </div>

                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="OrderID" class="form-control" placeholder="OrderID" />
                    <label asp-for="OrderID" class="control-label"></label>
                    
                </div>

                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="StrVisitcaseID" class="form-control" placeholder="StrVisitcaseID" />
                    <label asp-for="StrVisitcaseID" class="control-label">VisitcaseID</label>
                    
                </div>
                <br />

                <div class="form-group">
                    <center> 
                    <button type="submit" name="buttonType" value="select" class="btn btn-primary" >select</button>
                                </center>
                </div>
                </div>
                </div>
                </div>
                </div>
                
            </form>
        
    
}
<br />


<table class="table">
    <thead>
        <tr>
           
            <th>
                Medication
            </th>
            <th>
                Unit
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Total Price
            </th>
            <th>
                Tax
            </th>
            <th>
                Net Price 
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.StrPharmacyBillingModelList)
            {
                <tr>
                    <td>@item.Medication</td>
                    <td>@item.Unit</td>
                    <td>@item.Unitprice</td>
                    <td>@item.Totalprice</td>
                    <td>@item.Tax</td>
                    <td>@item.NetPrice</td>
                </tr>
            }
        }
    </tbody>
</table>
<input asp-for="TotalPrice" id="TotalPrice" type="Text" class="form-control"/>

@* <div class="form-group">
    <label for="Total" class="control-label"  >Total</label>
    <input for="Total" class="form-control"  />
</div>

<div class="form-group">
    <label for="BilledBy" class="control-label" >Billed By</label>
    <input for="BilledBy" class="form-control"  />
</div>

 *@