@model List<PatientDiagnosisModel>

@{
    ViewData["Title"] = "PatientDiagnosis";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> Patient Diagnosis</h2>
            <small class="text-muted float-end"></small>
        </div>
    </div>

@using (Html.BeginForm("PatientviewDiagnosis", "OPDManagement", FormMethod.Post))
{
     <div class="row gy-4">

           
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Examination ID</th>
                    <th>Patient ID</th>
                    <th>Visit ID</th>
                    <th>Doctor ID</th>
                    <th>Diagnosis ID</th>
                    <th>Notes</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td><input type="text" asp-for="@Model[i].ExamID" class="form-control" readonly /></td>
                            <td><input type="text" asp-for="@Model[i].PatientID" class="form-control" readonly /></td>
                            <td><input type="text" asp-for="@Model[i].VisitID" class="form-control" readonly /></td>
                            <td><input type="text" asp-for="@Model[i].DoctorID" class="form-control" /></td>
                            <td><input type="text" asp-for="@Model[i].DiagnosisID" class="form-control" /></td>
                            <td><input type="text" asp-for="@Model[i].Notes" class="form-control" /></td>
                            <td><input type="text" asp-for="@Model[i].Comments" class="form-control" /></td>


                        </tr>
                    }

                }
            </tbody>
        </table>
        
        <center>
        <button type="submit" name="action" value="Save" class="btn btn-primary">Save</button>
        <button type="submit" name="action" value="Add Row" class="btn btn-primary">Add Row</button>
                        </center>

        </div>
        </div>
        </div>
        </div>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
}
</div>