@model PatientFHPHViewModel

@{
    ViewData["Title"] = "PatientExamFHView";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>PatientExamFHViewl</h1>
@using (Html.BeginForm("SaveFHPH", "OPDManagement", FormMethod.Post))
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="@(new SelectList(new List<string> { "FH", "PH" }))">
                    <option value="">Select Type</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <button type="submit" name="buttonType" value="Get" class="btn btn-success">Get</button>
            

        </div>
    </div>

    <table class="table">
        <thead>
            <tr>

                <th>
                    Question
                </th>
                <th>
                    Answer
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.SHFHPHviewlist.Count; i++)
                {
                    <tr>
                        <td><input type="text" asp-for="@Model.SHFHPHviewlist[i].Question" /> <input type="hidden" asp-for="@Model.SHFHPHviewlist[i].QuestionID" /></td>

                        <td><input type="text" asp-for="@Model.SHFHPHviewlist[i].Answer" /> <input type="hidden" asp-for="@Model.SHFHPHviewlist[i].Type" /></td>


                    </tr>
                }
                @if (Model != null)
                {
                    <button type="submit" name="buttonType" value="Save" class="btn btn-success">Save</button>
                }
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
            }
        </tbody>
    </table>
}





















@* @model PatientExamFHViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>View</h1>
@using (Html.BeginForm("GetInpatientViewResult", "InPatientModules", FormMethod.Post))
{
    <hr/>

    <div class="row">
        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label "

                    <label asp-for="" class="control-label"></label>
                    <input asp-for="BedNoID" class="form-control" />
                    <span asp-validation-for="BedNoID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatientID" class="control-label"></label>
                    <input asp-for="PatientID" class="form-control" />
                    <span asp-validation-for="PatientID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ObservationID" class="control-label"></label>
                    <input asp-for="ObservationID" class="form-control" />
                    <span asp-validation-for="ObservationID" class="text-danger"></span>
                </div>
               </div>
               </div>

    <table class="table">
        <thead>
            <tr>

                <th>
                    QuestionID
                </th>
                <th>
                    Question
                </th>
                <th>
                    Answer
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="text" class="form-control" name="QuestionID" value="@item.QuestionID" asp-for="@item.QuestionID" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="Question" value="@item.Question" asp-for="@item.Question" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="Answer" value="@item.Answer" asp-for="@item.Answer" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
} *@