@model List<PatExmSymptomsSeverity>

@{
    ViewData["Title"] = "SymptomsSeverity";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>SymptomsSeverity</h1>

<h4>PatExmSymptomsSeverity</h4>
<hr />



@using (Html.BeginForm("PatientviewSeverity", "OPDManagement", FormMethod.Post))
{
    

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Examination ID</th>
                <th>Patient ID</th>
                <th>Visit ID</th>
                <th>Facility ID</th>
                <th>Symptoms</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><input type="text" asp-for="@Model[i].ExaminationID" class="form-control" /></td>
                        <td><input type="text" asp-for="@Model[i].PatientID" class="form-control" /></td>
                        <td><input type="text" asp-for="@Model[i].VisitID" class="form-control" /></td>
                        <td><input type="text" asp-for="@Model[i].FacilityID" class="form-control" /></td>
                        <td><input type="text" asp-for="@Model[i].Symptoms" class="form-control" /></td>
                        <td><input type="text" asp-for="@Model[i].Severity" class="form-control" /></td>
                    </tr>
                }

            }
        </tbody>
    </table>

    <button type="submit" name="action" value="Save" class="btn btn-primary">Save</button>
    <button type="submit" name="action" value="Add Row" class="btn btn-primary">Add Row</button>
   
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
}
