@model List<PatExmSymptomsSeverity>

@{
    ViewData["Title"] = "SymptomsSeverity";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}



<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> Symptoms Severity</h2>
            <small class="text-muted float-end"></small>
        </div>
    </div>


@using (Html.BeginForm("PatientviewSeverity", "OPDManagement", FormMethod.Post))
{
    <div class="row gy-4">

           
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Examination ID</th>
                <th>Patient ID</th>
                <th>Visit ID</th>
                <th>Facility ID</th>
                <th>Symptoms</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><input type="text" asp-for="@Model[i].ExaminationID" class="form-control" readonly /></td>
                        <td><input type="text" asp-for="@Model[i].PatientID" class="form-control" readonly /></td>
                        <td><input type="text" asp-for="@Model[i].VisitID" class="form-control" readonly /></td>
                        <td><input type="text" asp-for="@Model[i].FacilityID" class="form-control" readonly /></td>
                        <td><input type="text" asp-for="@Model[i].Symptoms" class="form-control" /></td>
                        <td><input type="text" asp-for="@Model[i].Severity" class="form-control" /></td>
                    </tr>
                }

            }
        </tbody>
    </table>
                        <center>
    <button type="submit" name="action" value="Save" class="btn btn-primary">Save</button>
    <button type="submit" name="action" value="Add Row" class="btn btn-primary">Add Row</button>
    </center>
                    </div>
                </div>
            </div>
        </div>
   
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
}
</div>