@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="ClinicAdminstration" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo me-1">  @await Html.PartialAsync("../_Partials/_Macros")</span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="mdi menu-toggle-icon d-xl-block align-middle mdi-20px"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>



  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Clinic Adminstration -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/ClinicAdministration") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-hospital-building"></i>
        <div>Clinic Administration</div>
      </a>

      <ul class="menu-sub">
        @* <li class='menu-item@(currentPage == "/ClinicAdministration/CRM" ? " active" : "")'>
          <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/dashboards-crm.html" target="_blank" class="menu-link">
            <div>CRM</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li> *@

        <li class='menu-item@(currentPage == "/ClinicAdministration/ClinicRegistration" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="ClinicRegistration" class="menu-link">
            <div>Clinic Registration</div>
          </a>
        </li>

        <li class='menu-item@(currentPage == "/ClinicAdministration/BloodGroupMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="BloodGroupAdministration" class="menu-link">
            <div>Blood Group Administration</div>
          </a>
        </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/StaffFacilityMapping" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="StaffFacilityMapping" class="menu-link">
                        <div>Staff Facility Mapping</div>
                    </a>
                </li>

                <li class='menu-item@(currentPage == "/ClinicAdministration/DoctorSchedule" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="DoctorSchedule" class="menu-link">
                        <div>DoctorSchedule</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/StaffAdminModel" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="StaffAdminModel" class="menu-link">
                        <div>Staff Registration</div>
                        </a>
                    </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/RollAccess" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="RollAccess" class="menu-link">
               <div>RollAccess</div>
             </a>
            </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/ScreenMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="ScreenMaster" class="menu-link">
                        <div>ScreenMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/TestMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="TestMaster" class="menu-link">
                        <div>TestMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/PatientFHPHMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="PatientFHPHMaster" class="menu-link">
                        <div>PatientFHPHMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/SeverityModel" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="SeverityModel" class="menu-link">
                        <div>SeverityModel</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/ClinicSurgeryMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="ClinicSurgeryMaster" class="menu-link">
                        <div>ClinicSurgeryMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/OTTableMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="OTTableMaster" class="menu-link">
                        <div>OTTableMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/SurgeryTypeMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="SurgeryTypeMaster" class="menu-link">
                        <div>SurgeryTypeMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/InternalDepartmentMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="InternalDepartmentMaster" class="menu-link">
                        <div>InternalDepartmentMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/HospitalBedMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="HospitalBedMaster" class="menu-link">
                        <div>HospitalBedMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/NurseStationMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="NurseStationMaster" class="menu-link">
                        <div>NurseStationMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/IPTypeMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="IPTypeMaster" class="menu-link">
                        <div>IPTypeMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/RoomTypeMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="RoomTypeMaster" class="menu-link">
                        <div>RoomTypeMaster</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/ClinicAdministration/EWSMaster" ? " active" : "")'>
                    <a asp-controller="ClinicAdministration" asp-action="EWSMaster" class="menu-link">
                        <div>EWSMaster</div>
                    </a>
                </li>

                @*   <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-ecommerce-dashboard.html" target="_blank" class="menu-link">
            <div>eCommerce</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-logistics-dashboard.html" target="_blank" class="menu-link">
            <div>Logistics</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-academy-dashboard.html" target="_blank" class="menu-link">
            <div>Academy</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
          </a>
        </li> *@
            </ul>
    </li>

       
        <ul class="menu-inner py-1">
        <!-- Stock Management -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/StockManagement") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons mdi  mdi-store"></i>
                <div>Stock Management</div>

            </a>

            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StockManagement/DrugInventory" ? " active" : "")'>
                    <a asp-controller="StockManagement" asp-action="DrugInventory" class="menu-link">

                            <div>Drug Inventory</div>
                    </a>
                </li>
            </ul>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/StockManagement/DrugCategoryMaster" ? " active" : "")'>
                        <a asp-controller="StockManagement" asp-action="DrugCategoryMaster" class="menu-link">
                            <div>Drug Category Master</div>
                        </a>
                    </li>
                </ul>
                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/StockManagement/DrugTypeMaster" ? " active" : "")'>
                        <a asp-controller="StockManagement" asp-action="DrugTypeMaster" class="menu-link">

                            <div>Drug Type Master</div>
                        </a>
                    </li>
                </ul>
                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/StockManagement/DrugRackMaster" ? " active" : "")'>
                        <a asp-controller="StockManagement" asp-action="DrugRackMaster" class="menu-link">

                            <div>Drug Rack Master</div>
                        </a>
                    </li>
                </ul>
                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/StockManagement/DrugStockMaster" ? " active" : "")'>
                        <a asp-controller="StockManagement" asp-action="DrugStockMaster" class="menu-link">

                            <div>Drug Stock Master</div>
                        </a>
                    </li>
                </ul>
            
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/StockManagement/DrugGroupMaster" ? " active" : "")'>
                        <a asp-controller="StockManagement" asp-action="DrugGroupMaster" class="menu-link">
                            <div>Drug Group Master</div>
                        </a>
                    </li>
                </ul>
               
        </li>
            

        <ul class="menu-inner py-1">

        <!-- Patient Registration -->
            <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Patient Registration") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons mdi mdi-clipboard-text"></i>
                    <div>Patient Registration</div>

                </a>
                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/PatientRegistration/PatientRegister" ? " active" : "")'>
                        <a asp-controller="PatientRegistration" asp-action="PatientRegister" class="menu-link">

                            <div>PatientRegister</div>
                        </a>
                    </li>
                </ul>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/PatientRegistration/PatientScheduling" ? " active" : "")'>
                        <a asp-controller="PatientRegistration" asp-action="PatientScheduling" class="menu-link">
                            <div>PatientScheduling</div>
                        </a>
                    </li>
                </ul>
            </li>


                <ul class="menu-inner py-1">

                    <!-- Front Desk -->
                    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/FrontDesk") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-library"></i>
                            <div>FrontDesk</div>

                        </a>
                        <ul class="menu-sub">

                            

                            <li class='menu-item@(currentPage == "/FrontDesk/OpChecking" ? " active" : "")'>
                                <a asp-controller="FrontDesk" asp-action="OpChecking" class="menu-link">

                                    <div>Op Checking</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/FrontDesk/IpRegistration" ? " active" : "")'>
                                <a asp-controller="FrontDesk" asp-action="IpRegistration" class="menu-link">
                                    <div>IpRegistration</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/FrontDesk/OpDischarge" ? " active" : "")'>
                                <a asp-controller="FrontDesk" asp-action="OpDischarge" class="menu-link">
                                    <div>OpDischarge</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/FrontDesk/StaffAttendance" ? " active" : "")'>
                                <a asp-controller="FrontDesk" asp-action="StaffAttendance" class="menu-link">
                                    <div>StaffAttendance</div>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <ul class="menu-inner py-1">

                        <!-- In Patient Modules -->
                        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/InPatientModules") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons mdi mdi mdi-bed"></i>
                                <div>InPatient Modules</div>

                            </a>
                            <ul class="menu-sub">

                                <li class='menu-item@(currentPage == "/InPatientModules/InPatientAdmission" ? " active" : "")'>
                                    <a asp-controller="InPatientModules" asp-action="InPatientAdmission" class="menu-link">

                                        <div>InPatient Admission</div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/InPatientModules/WardManagement" ? " active" : "")'>
                                    <a asp-controller="InPatientModules" asp-action="WardManagement" class="menu-link">
                                        <div>Ward Management</div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/InPatientModules/InPatientCasesheet" ? " active" : "")'>
                                    <a asp-controller="InPatientModules" asp-action="InPatientCasesheet" class="menu-link">
                                        <div>InPatient Casesheet</div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/InPatientModules/InPatientDischarge" ? " active" : "")'>
                                    <a asp-controller="InPatientModules" asp-action="InPatientDischarge" class="menu-link">
                                        <div>InPatient Discharge</div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/InPatientModules/InPatientDischargeSummary" ? " active" : "")'>
                                    <a asp-controller="InPatientModules" asp-action="InPatientDischargeSummary" class="menu-link">
                                        <div>InPatient Discharge Summary</div>
                                    </a>
                                </li>
                            </ul>
                        
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/InPatientModules/InPatientObservation" ? " active" : "")'>
                                    <a asp-controller="InPatientModules" asp-action="InPatientObservation" class="menu-link">
                                    <div>InPatientObservation</div>
                                </a>
                            </li>
                        </ul>
                        </li>


            
                <ul class="menu-inner py-1">

                        <!-- OPD Management -->
                    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/OPDManagement") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons mdi mdi-text-box-plus-outline"></i>
                                <div>OPD Management</div>
                        </a>
                        <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/OPDManagement/PatientObjectiveData" ? " active" : "")'>
                                    <a asp-controller="OPDManagement" asp-action="PatientObjectiveData" class="menu-link">
                                    <div>PatientObjectiveData</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/OPDManagement/PatientHealthHistory" ? " active" : "")'>
                                    <a asp-controller="OPDManagement" asp-action="PatientHealthHistory" class="menu-link">
                                    <div>PatientHealthHistory</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/OPDManagement/PatientFamilyHistory" ? " active" : "")'>
                                    <a asp-controller="OPDManagement" asp-action="PatientFamilyHistory" class="menu-link">
                                    <div>PatientFamilyHistory</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/OPDManagement/PatientVisitIntoDocument" ? " active" : "")'>
                                    <a asp-controller="OPDManagement" asp-action="PatientVisitIntoDocument" class="menu-link">
                                    <div>PatientVisitIntoDocument</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/OPDManagement/PatientExamination" ? " active" : "")'>
                                    <a asp-controller="OPDManagement" asp-action="PatientExamination" class="menu-link">
                                    <div>PatientExamination</div>
                                </a>
                            </li>
                        </ul>
            </li>


                  
                            


                        <ul class="menu-inner py-1">

                            <!-- OT Management -->
                            <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/OTManagement") ? " active open" : "")'>
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons mdi mdi-clipboard-account"></i>
                                    <div>OT Management</div>

                                </a>
                                <ul class="menu-sub">

                                    <li class='menu-item@(currentPage == "/OTManagement/OTScheduling" ? " active" : "")'>
                                        <a asp-controller="OTManagement" asp-action="OTScheduling" class="menu-link">

                                            <div>OT Scheduling</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="menu-sub">
                                    <li class='menu-item@(currentPage == "/OTManagement/OTConfirmation" ? " active" : "")'>
                                        <a asp-controller="OTManagement" asp-action="OTConfirmation" class="menu-link">
                                            <div>OT Confirmation</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="menu-sub">
                                    <li class='menu-item@(currentPage == "/OTManagement/OTNotes" ? " active" : "")'>
                                        <a asp-controller="OTManagement" asp-action="OTNotes" class="menu-link">
                                            <div>OT Notes</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="menu-sub">
                                    <li class='menu-item@(currentPage == "/OTManagement/OTSummary" ? " active" : "")'>
                                        <a asp-controller="OTManagement" asp-action="OTSummary" class="menu-link">
                                            <div>OT Summary</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                    <ul class="menu-inner py-1">
                    <!-- Patient Prescription -->
                    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/PatientPrescription") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                                            <i class="menu-icon tf-icons mdi mdi-pill"></i>
                                <div>Patient Prescription</div>

                        </a>
                        <ul class="menu-sub">

                                <li class='menu-item@(currentPage == "/PatientPrescription/PatientEPrescription" ? " active" : "")'>
                                    <a asp-controller="PatientPrescription" asp-action="PatientEPrescription" class="menu-link">

                                        <div>Patient E Prescription</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/PatientPrescription/PatientEPrescriptionPrint" ? " active" : "")'>
                                    <a asp-controller="PatientPrescription" asp-action="PatientEPrescriptionPrint" class="menu-link">
                                        <div>Patient E Prescription Print</div>
                                </a>
                            </li>
                        </ul>
                    </li>


                <ul class="menu-inner py-1">

                    <!-- Laboratory Radiology -->
                    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/LabRad") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-beaker-outline"></i>
                            <div>LaboratoryRadiology</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/LabRad/TestCreation" ? " active" : "")'>
                                <a asp-controller="LabRad" asp-action="TestCreation" class="menu-link">
                                    <div>TestCreation</div>
                                </a>
                            </li>
                        </ul>
                     @*   <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/LabRad/UpdateTestResults" ? " active" : "")'>
                                <a asp-controller="LabRad" asp-action="UpdateTestResults" class="menu-link">
                                    <div>UpdateTestResults</div>
                                </a>
                            </li>
                        </ul>*@
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/LabRad/PrintTestResults" ? " active" : "")'>
                                <a asp-controller="LabRad" asp-action="PrintTestResults" class="menu-link">
                                    <div>PrintTestResults</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/LabRad/RadiologyCreation" ? " active" : "")'>
                                <a asp-controller="LabRad" asp-action="RadiologyCreation" class="menu-link">
                                    <div>RadiologyCreation</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/LabRad/UpdateRadiologyResults" ? " active" : "")'>
                                <a asp-controller="LabRad" asp-action="UpdateRadiologyResults" class="menu-link">
                                    <div>UpdateRadiologyResults</div>
                                </a>
                            </li>
                        </ul>
                      
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/LabRad/PrintRadiologyResults" ? " active" : "")'>
                                <a asp-controller="LabRad" asp-action="PrintRadiologyResults" class="menu-link">
                                    <div>PrintRadiologyResults</div>
                                </a>
                            </li>
                        </ul>
            
            <ul class="menu-inner py-1">

                <!-- PatientBilling -->
                    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/PatientBilling") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-menu-icon tf-icons mdi mdi-account-cash"></i>
                            <div>PatientBilling</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/PatientBilling/PatientBilling" ? " active" : "")'>
                                <a asp-controller="PatientBilling" asp-action="PatientBilling" class="menu-link">
                                    
                                    <div>PatientBilling</div>
                                </a>
                            </li>
                        </ul>
                                        <ul class="menu-sub">
                                            <li class='menu-item@(currentPage == "/PatientBilling/PharmacyBilling" ? " active" : "")'>
                                                <a asp-controller="PatientBilling" asp-action="PharmacyBilling" class="menu-link">

                                                    <div>Pharmacy Billing</div>
                                                </a>
                                            </li>
                                        </ul>
                    </li>
               




                            @*
                            <!-- Layouts -->
                            <li class='menu-item@(currentPage.StartsWith("/LayoutExamples") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-window-maximize"></i>
                            <div>Layouts</div>
                            </a>

                            <ul class="menu-sub">

                            <li class='menu-item@(currentPage == "/LayoutExamples/WithoutMenu" ? " active" : "")'>
                            <a asp-controller="LayoutExamples" asp-action="WithoutMenu" class="menu-link">
                            <div>Without menu</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/LayoutExamples/WithoutNavbar" ? " active" : "")'>
                            <a asp-controller="LayoutExamples" asp-action="WithoutNavbar" class="menu-link">
                            <div>Without navbar</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/LayoutExamples/Container" ? " active" : "")'>
                            <a asp-controller="LayoutExamples" asp-action="Container" class="menu-link">
                            <div>Container</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/LayoutExamples/Fluid" ? " active" : "")'>
                            <a asp-controller="LayoutExamples" asp-action="Fluid" class="menu-link">
                            <div>Fluid</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/LayoutExamples/Blank" ? " active" : "")'>
                            <a asp-controller="LayoutExamples" asp-action="Blank" class="menu-link">
                            <div>Blank</div>
                            </a>
                            </li>
                            </ul>
                            </li>
                            @*
                            <!-- Front Pages -->
                            <li class='menu-item@(currentPage.StartsWith("/FrontPages") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon tf-icons mdi mdi-flip-to-front'></i>
                            <div>Front Pages</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/FrontPages/LandingPage" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/landing-page.html" class="menu-link" target="_blank">
                            <div>Landing</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/FrontPages/PricingPage" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/pricing-page.html" class="menu-link" target="_blank">
                            <div>Pricing</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/FrontPages/PaymentPage" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/payment-page.html" class="menu-link" target="_blank">
                            <div>Payment</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/FrontPages/CheckoutPage" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/checkout-page.html" class="menu-link" target="_blank">
                            <div>Checkout</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/FrontPages/HelpCenterLanding" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/help-center-landing.html" class="menu-link" target="_blank">
                            <div>Help Center</div>
                            </a>
                            </li>
                            </ul>
                            </li> *@

                            @* <li class="menu-header fw-medium mt-4">
                            <span class="menu-header-text">Apps &amp; Pages</span>
                            </li>
                            <!-- Apps -->
                            <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-email.html" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-email-outline"></i>
                            <div>Email</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Apps/Chat" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-chat.html" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                            <div>Chat</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Apps/Calendar" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-calendar.html" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-calendar-blank-outline"></i>
                            <div>Calendar</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-kanban.html" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-view-grid-outline"></i>
                            <div>Kanban</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                            </a>
                            </li>
                            <!-- Pages -->
                            <li class='menu-item@(currentPage.StartsWith("/Pages") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-account-outline"></i>
                            <div>Account Settings</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
                            <div>Account</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
                            <div>Notifications</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Pages/AccountSettingsConnections" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="AccountSettingsConnections" class="menu-link">
                            <div>Connections</div>
                            </a>
                            </li>
                            </ul>
                            </li>
                            <li class='menu-item@(currentPage.StartsWith("/Auth") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-lock-open-outline"></i>
                            <div>Authentications</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Auth/LoginBasic" ? " active" : "")'>
                            <a asp-controller="Auth" asp-action="LoginBasic" class="menu-link" target="_blank">
                            <div>Login</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Auth/RegisterBasic" ? " active" : "")'>
                            <a asp-controller="Auth" asp-action="RegisterBasic" class="menu-link" target="_blank">
                            <div>Register</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Auth/ForgotPasswordBasic" ? " active" : "")'>
                            <a asp-controller="Auth" asp-action="ForgotPasswordBasic" class="menu-link" target="_blank">
                            <div>Forgot Password</div>
                            </a>
                            </li>
                            </ul>
                            </li>
                            <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-cube-outline"></i>
                            <div>Misc</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                            <div>Error</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                            <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                            <div>Under Maintenance</div>
                            </a>
                            </li>
                            </ul>
                            </li>
                            <!-- Components -->
                            <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Components</span></li>
                            <!-- Cards -->
                            <li class='menu-item@(currentPage == "/Cards/Basic" ? " active" : "")'>
                            <a asp-controller="Cards" asp-action="Basic" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-credit-card-outline"></i>
                            <div>Cards</div>
                            </a>
                            </li>
                            <!-- User interface -->
                            <li class='menu-item@(currentPage.StartsWith("/Ui") ? " active open" : "")'>
                            <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-archive-outline"></i>
                            <div>User interface</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Ui/Accordion" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Accordion" class="menu-link">
                            <div>Accordion</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Alerts" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Alerts" class="menu-link">
                            <div>Alerts</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Badges" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Badges" class="menu-link">
                            <div>Badges</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Buttons" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Buttons" class="menu-link">
                            <div>Buttons</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Carousel" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Carousel" class="menu-link">
                            <div>Carousel</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Collapse" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Collapse" class="menu-link">
                            <div>Collapse</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Dropdowns" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Dropdowns" class="menu-link">
                            <div>Dropdowns</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Footer" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Footer" class="menu-link">
                            <div>Footer</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/ListGroups" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="ListGroups" class="menu-link">
                            <div>List groups</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Modals" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Modals" class="menu-link">
                            <div>Modals</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Navbar" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Navbar" class="menu-link">
                            <div>Navbar</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Offcanvas" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Offcanvas" class="menu-link">
                            <div>Offcanvas</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/PaginationBreadcrumbs" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="PaginationBreadcrumbs" class="menu-link">
                            <div>Pagination &amp; Breadcrumbs</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Progress" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Progress" class="menu-link">
                            <div>Progress</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Spinners" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Spinners" class="menu-link">
                            <div>Spinners</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/TabsPills" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="TabsPills" class="menu-link">
                            <div>Tabs &amp; Pills</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Toasts" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Toasts" class="menu-link">
                            <div>Toasts</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/TooltipsPopovers" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="TooltipsPopovers" class="menu-link">
                            <div>Tooltips &amp; popovers</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Ui/Typography" ? " active" : "")'>
                            <a asp-controller="Ui" asp-action="Typography" class="menu-link">
                            <div>Typography</div>
                            </a>
                            </li>
                            </ul>
                            </li>

                            <!-- Extended components -->
                            <li class='menu-item@(currentPage.StartsWith("/ExtendedUi") ? " active open" : "")'>
                            <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-star-outline"></i>
                            <div>Extended UI</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/ExtendedUi/PerfectScrollbar" ? " active" : "")'>
                            <a asp-controller="ExtendedUi" asp-action="PerfectScrollbar" class="menu-link">
                            <div>Perfect scrollbar</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/ExtendedUi/TextDivider" ? " active" : "")'>
                            <a asp-controller="ExtendedUi" asp-action="TextDivider" class="menu-link">
                            <div>Text Divider</div>
                            </a>
                            </li>
                            </ul>
                            </li>

                            <!-- Icons -->
                            <li class='menu-item@(currentPage == "/Icons/MdiIcons" ? " active" : "")'>
                            <a asp-controller="Icons" asp-action="MdiIcons" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-google-circles-extended"></i>
                            <div>Icons</div>
                            </a>
                            </li>

                            <!-- Forms & Tables -->
                            <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Forms &amp; Tables</span></li>
                            <!-- Forms -->
                            <li class='menu-item@(currentPage.StartsWith("/Forms") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-form-select"></i>
                            <div>Form Elements</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Forms/BasicInputs" ? " active" : "")'>
                            <a asp-controller="Forms" asp-action="BasicInputs" class="menu-link">
                            <div>Basic Inputs</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Forms/InputGroups" ? " active" : "")'>
                            <a asp-controller="Forms" asp-action="InputGroups" class="menu-link">
                            <div>Input groups</div>
                            </a>
                            </li>
                            </ul>
                            </li>
                            <li class='menu-item@(currentPage.StartsWith("/FormLayouts") ? " active open" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-cube-outline"></i>
                            <div>Form Layouts</div>
                            </a>
                            <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/FormLayouts/Vertical" ? " active" : "")'>
                            <a asp-controller="FormLayouts" asp-action="Vertical" class="menu-link">
                            <div>Vertical Form</div>
                            </a>
                            </li>
                            <li class='menu-item@(currentPage == "/FormLayouts/Horizontal" ? " active" : "")'>
                            <a asp-controller="FormLayouts" asp-action="Horizontal" class="menu-link">
                            <div>Horizontal Form</div>
                            </a>
                            </li>
                            </ul>
                            </li>
                            <!-- Form Validation -->
                            <li class='menu-item@(currentPage == "/FormValidation/Validation" ? " active" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/form-validation.html" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-checkbox-marked-circle-outline"></i>
                            <div>Form Validation</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                            </a>
                            </li>
                            <!-- Tables -->
                            <li class='menu-item@(currentPage == "/Tables/Basic" ? " active" : "")'>
                            <a asp-controller="Tables" asp-action="Basic" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-table"></i>
                            <div>Tables</div>
                            </a>
                            </li>
                            <!-- Data Tables -->
                            <li class='menu-item@(currentPage.StartsWith("/Tables/DataTables") ? " active open" : "")'>
                            <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/vertical-menu-template/tables-datatables-basic.html" target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-grid"></i>
                            <div>Datatables</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                            </a>
                            </li>
                            <!-- Misc -->
                            <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Misc</span></li>
                            <li class="menu-item">
                            <a href='@TempData.Peek("support")' target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-lifebuoy"></i>
                            <div>Support</div>
                            </a>
                            </li>
                            <li class="menu-item">
                            <a href='@TempData.Peek("documentation")' target="_blank" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-file-document-multiple-outline"></i>
                            <div>Documentation</div>
                            </a>
                            </li>
                            </ul> *@

</aside>
<!-- / Menu -->
