@model PatientRegistrationModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}
<form asp-controller="PatientRegistration" method="post" id="patientForm" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div id="patientFormFields"></div>
    <div class="row" style="margin-top:70px">
        <div class="col-md-12 col-lg-2 ">
        </div>

        <div class="col-md-12 col-lg-8 ">
            <div class="card">
                <div class="card-body " style="background-color:#8c62c9">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">Patient Registration</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />



   
            <div class="row">
                <div class="col-md-12 col-lg-2">
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                           
                                <div class="form-floating form-floating-outline mb-4">
                                    <input id="PatientID" asp-for="PatientID" class="form-control" placeholder="PatientID" required />
                                    <label asp-for="PatientID" class="control-label"></label>
                                    <span asp-validation-for="PatientID" class="text-danger"></span>
                                </div>
                           

                           

                                <div class="form-floating form-floating-outline mb-4">
                                    @{
                                        var Facid = ((IEnumerable<ClinicAdminModel>)ViewData["Facid"])
                                        .Select(m => new SelectListItem
            {
                Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.FacilityID} - {m.ClinicName}"
            });
                                    }

                                    @Html.DropDownListFor(model => model.FacilityID, Facid, "Select Facility ID", new { @class = "form-control", required = "required" })
                                    <label asp-for="FacilityID" class="control-label"></label>
                                    <span asp-validation-for="FacilityID" class="text-danger"></span>
                                </div>

                          

                          

                                <div>
                        <center>
                                    <button type="button" id="getPatientBtn" class="btn btn-primary">Get</button>
                            </center>
                                </div>
                       

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2">
                </div>
            </div>
            <br />




    <script>
        document.getElementById("getPatientBtn").addEventListener("click", async function () {
            var patientID = document.getElementById("PatientID").value;
            var facilityID = document.getElementById("FacilityID").value;

            if (patientID.trim() === "" || facilityID.trim() === "") {
                alert("Please enter PatientID and select FacilityID.");
                return;
            }

            // Set the values of hidden input fields
            document.getElementById("patientID").value = patientID;
            document.getElementById("facilityID").value = facilityID;

            // Submit the form
            document.getElementById("patientForm").submit();
        });
    </script>



   @*  <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
        <div id="slotsTable">
            <h3>Slots</h3>
            <table id="SlotTable" class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>PatientId</th>
                        <th>PatientName</th>
                        <th>PatientDob</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var PatSearchlist = ViewData["PatSearch"] as List<PatientRegistrationModel>;
                    }

                    @if (PatSearchlist != null)
                    {
                        for (int i = 0; i < PatSearchlist.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="radio" name="selectedSlots" value="@PatSearchlist[i].PatientID" />
                                    <input type="hidden" name="SlotsID" value="@PatSearchlist[i].PatientID" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="FromTime_@PatSearchlist[i].PatientID" value="@PatSearchlist[i].PatientID" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="ToTime_@PatSearchlist[i].FullName" value="@PatSearchlist[i].FullName" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="ToTime_@PatSearchlist[i].Dob" value="@PatSearchlist[i].Dob" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
 *@

    <div class="row gy-4">
        <div class="form-floating form-floating-outline mb-4">
        </div>
    </div>
    <div class="row gy-4">

        <div class="col-md-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                        <label asp-for="FirstName" class="control-label">First Name</label>

                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="MidName" class="form-control" placeholder="Mid Name" />
                        <label asp-for="MidName" class="control-label">Mid Name</label>

                        <span asp-validation-for="MidName" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                        <label asp-for="LastName" class="control-label">Last Name</label>

                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="FullName" class="form-control" placeholder="Full Name" pattern="^[A-Za-z\s]+$" title="Only letters and spaces are allowed." required />
                        <label asp-for="FullName" class="control-label">Full Name</label>

                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Initial" class="form-control" placeholder="Initial" />
                        <label asp-for="Initial" class="control-label"></label>

                        <span asp-validation-for="Initial" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Prefix" class="form-control" placeholder="Prefix" />
                        <label asp-for="Prefix" class="control-label"></label>

                        <span asp-validation-for="Prefix" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Dob" class="form-control" placeholder="DOB" type="date" />
                        <label asp-for="Dob" class="control-label"></label>

                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Age" class="form-control" placeholder="Age" required />
                        <label asp-for="Age" class="control-label"></label>

                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>


                    <div class="form-floating form-floating-outline mb-4">
                        @{
                            var bldgrpid = ((IEnumerable<BloodGroupModel>)ViewData["bldgrpid"])
                            .Select(m => new SelectListItem
            {
                Value = m.BloodGroup.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.BloodGroup}"
            });
                        }

                        @Html.DropDownListFor(model => model.BloodGroup, bldgrpid, "Select Blood Group", new { @class = "form-control", required = "required" })
                        <label asp-for="BloodGroup" class="control-label"></label>
                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Gender:</label><br />
                        <div class="form-check form-check-inline">
                            <input asp-for="Gender" class="form-check-input" type="radio" value="Male" id="maleRadio" required />
                            <label class="form-check-label" for="maleRadio">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="Gender" class="form-check-input" type="radio" value="Female" id="femaleRadio" required />
                            <label class="form-check-label" for="femaleRadio">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="Gender" class="form-check-input" type="radio" value="Other" id="otherRadio" required />
                            <label class="form-check-label" for="otherRadio">Other</label>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="MaritalStatus" class="control-label">Marital Status:</label>
                        <select asp-for="MaritalStatus" class="form-control">
                            <option value="">Select Marital Status</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>

                    <br />

                    <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                        <textarea asp-for="Address1" class="form-control" placeholder="Address1" aria-describedby="text-to-speech-addon"></textarea>
                        <label asp-for="Address1" class="control-label"></label>
                        <span class="input-group-text" id="text-to-speech-addon">
                            <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                        </span>
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>

                    <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                        <textarea asp-for="Address2" class="form-control" placeholder="Address2" aria-describedby="text-to-speech-addon"></textarea>
                        <label asp-for="Address2" class="control-label"></label>
                        <span class="input-group-text" id="text-to-speech-addon">
                            <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                        </span>
                        <span asp-validation-for="Address2" class="text-danger"></span>



                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" pattern="^\d{10}$" title="Please enter exactly 10 digits." required />
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Country" class="form-control" placeholder="Country" />
                        <label asp-for="Country" class="control-label"></label>

                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="City" class="form-control" placeholder="City" />
                        <label asp-for="City" class="control-label"></label>

                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="State" class="form-control" placeholder="State" />
                        <label asp-for="State" class="control-label"></label>

                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Pin" class="form-control" placeholder="Pin Number" />
                        <label asp-for="Pin" class="control-label">Pin Number</label>

                        <span asp-validation-for="Pin" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="IDPrfName" class="form-control" placeholder="IDProof Name" />
                        <label asp-for="IDPrfName" class="control-label">IDProof Name</label>
                        <span asp-validation-for="IDPrfName" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="IDPrfNumber" class="form-control" placeholder="IDProof Number" />
                        <label asp-for="IDPrfNumber" class="control-label">IDProof Number</label>

                        <span asp-validation-for="IDPrfNumber" class="text-danger"></span>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="CnctPrsnName" class="form-control" placeholder="Contact Person Name" />
                        <label asp-for="CnctPrsnName" class="control-label">Contact Person Name</label>

                        <span asp-validation-for="CnctPrsnName" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Rlnpatient" class="form-control" placeholder="Patient Relation" />
                        <label asp-for="Rlnpatient" class="control-label">Patient Relation</label>

                        <span asp-validation-for="Rlnpatient" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="EmgcyCntNum" class="form-control" placeholder="Emergency Contact Number" pattern="^\d{10}$" title="Please enter exactly 10 digits." required />
                        <label asp-for="EmgcyCntNum" class="control-label">Emergency Contact Number</label>

                        <span asp-validation-for="EmgcyCntNum" class="text-danger"></span>
                    </div>

                    <div class="row gy-4">
                        <div class="form-floating form-floating-outline mb-4">
                        </div>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <center>
                            <button type="submit" value="Create" asp-action="CreateOrUpdate" class="btn btn-primary">Save</button>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success">
                                    @ViewBag.Message
                                </div>
                            }
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>


</form>






